.header
{
    border: solid 3px;
    padding: 20px;
    min-height: 10vh;
    color: #2196f3;
    justify-content: center;
    align-items: center;
    letter-spacing: auto;
}

#main
{
    padding: 20px;
    min-height: 10vh;
    color: #2196f3;
    justify-content: center;
    align-items: center;
    letter-spacing: auto; 
    text-decoration: none;
}
#main:hover
{
    filter: hue-rotate(200deg);
}